
<html>
    <head>
        <link href="1etce.css" type="text/css" rel="stylesheet" >
    </head>
<body>
        <div class="nav">
                <a href="">Result</a>
                <a href="">Announcement</a>
                <a href="">Exams</a>
                <a href="">source</a>
                <a href="cources.html">Home</a>
                
             </div>

             <p><a href="cources.html">cources> </a> <a href="Btech.html">B.tech> </a><a href="etce.html">etce </a>>1st year </p>
             <center>
 <button><a href="">syllabus</a></button> 
 <button><a href="">notes</a></button> 
 <button><a href="">question papers</a></button> 
 <button><a href="">Important questions</a></button> 
</center>



</ul>






</body>
</html>