<html>
<head>
<link href="bca.css" type="text/css" rel="stylesheet" >
</head>
<body>

        <div class="nav">
                <a href="loginpage.html">Login</a>
             <a href="http://result.mdurtk.in/postexam/result.aspx">Result</a>
             <a href="">Announcement</a>
             <a href="">Exams</a>
             <a href="">source</a>
             <a href="cources.html">Home</a>
             </div>

<p><a href="cources.html">cources > </a> BCA  </p>

<p>so here you will get BCA material but before that,</p>
<P>let me know, which year you are from?</P>

<ol>
    <li><a href="1bca.html">1st year</a></li>
    <li><a href="2bca.html">2nd year</a></li>
    <li><a href="3bca.html">3rd year</a></li>
    


</ol>




</body>

</html>