<html>
<head>
<link href="cse1qp.css" type="text/css" rel="stylesheet" >

</head>
<body>
        <div class="nav">
                <a href="">Result</a>
                <a href="">Announcement</a>
                <a href="">Exams</a>
                <a href="">source</a>
                <a href="cources.html">Home</a>
                
             </div>
     


        <p><a href="cources.html">cources> </a> <a href="Btech.html">B.tech> </a><a href="cse.html">cse </a> <a href="1cse.html">> material</a> </p>



<h2>
<p id="note">Previous QUESTION PAPER</p></h2>
<ul>
   
    <br>
     <a href="">
            <div class="dropdown">
        <button class="dropbtn">physics</button>

      </div> </a>
      <a href="">
      <div class="dropdown">
        <button class="dropbtn">Math-1</button>
        
      </div> </a>
      <a href="">
      <div class="dropdown">
        <button class="dropbtn">English</button>
        
      </div></a>
      <a href="">
      <div class="dropdown">
        <button class="dropbtn">BEE</button>
       
      </div></a>

   

   <br>
   <a href="chemistry-previous-year-paper.pdf">
    <div class="dropdown">
        <button class="dropbtn">chemistry</button>
        
      </div></a>
      <a href="">

      <div class="dropdown">
        <button class="dropbtn">math-2</button>
        
      </div></a>
      <a href="">
      <div class="dropdown">
        <button class="dropbtn">workshop technology</button>
       
      </div></a>
      <a href="">
      <div class="dropdown">
        <button class="dropbtn">pps</button>
       
      </div></a>




    
  



</ul>



</body>
</html>