<html>
<head>
    <link href="cses1.css" type="text/css" rel="stylesheet" >
</head>
<body> <div class="nav">
                <a href="">Result</a>
                <a href="">Announcement</a>
                <a href="">Exams</a>
                <a href="">source</a>
                <a href="cources.html">Home</a>
         </div>
        <p><a href="cources.html">cources> </a> <a href="Btech.html">B.tech> </a><a href="cse.html">cse </a>> <a href="1cse.html"> material</a> > syllabus </p>
        <hr>
        <center>
   <b><p  > 1st semester syllabus</p> </b>
<figure>
<img src="bee.jpg" width="150px" height="150px" title="BEE" ><figcaption>BEE</figcaption> </figure>
<figure> <img src="m1.jpg" width="150px" height="150px" title="math" ><figcaption>math</figcaption></figure>
<figure> <img src="eng.jpg" width="150px" height="150px" title="english" ><figcaption>English</figcaption></figure>
<figure> <img src="sp.jpg" width="150px" height="150px" title="physics" ><figcaption>Physics</figcaption></figure>
<hr> <hr>
     <p>2nd semester syllabus</p>
<img src="che-1.png" width="150px" height="150px" title="chemistry" ><figcaption>chemistry</figcaption>
<img src="che-2.png" width="150px" height="150px" title="chemistry" ><figcaption>chemistry</figcaption>
<img src="m2-1styear.png" width="150px" height="150px" title="math" ><figcaption>math-2</figcaption>
<img src="wt.png" width="150px" height="150px" title="workshop technology" ><figcaption>workshop technology</figcaption>
<img src="pps-1.png" width="150px" height="150px" title="pps" ><figcaption>pps</figcaption>
<img src="pps-2.png" width="150px" height="150px" title="pps" ><figcaption>pps</figcaption> 
</center> 
<hr><hr> 
</body></html>