<html>
<head>
    <title>login page</title>
    <link href="loginpage.css" type="text/css" rel="stylesheet" >
</head>
<body>
    <div>
    <form>
<h1>login</h1>
<p>Username:</p><input type="email" name="username" required placeholder="enter username" />
<p>password:</p><input type="password" name="password" required placeholder="enter password"/><br>
<p><a href="#" >forget password</a><br></p>
<button>login</button><br>
<input type="checkbox" name="remember me" />remember me <br>
    </form>
    <p>Not a member?<a href="registration form.html">sign up now</a> </p></div>
</body>
</html>



