<html>
<head></head>
<body>
<hr>

        <p><a href="cources.html">cources> </a> <a href="Btech.html">B.tech> </a><a href="cse.html">cse </a>> <a href="1cse.html"> material</a> </p>

<hr>
<h2>
<p>notes</p></h2>
<ul>
    <hr>
    <li><b>1st sem</b></li>
    <li><a href="" >physics notes</a> </li>
    <li><a href="" >math-1</a> </li>
    <li><a href="" >english</a> </li>
    <li><a href="" >BEE</a> </li>
<hr>
    <li><b>2nd sem</b></li>
    <li><a href="" >chemistry notes </a> </li>
    <li><a href="" >math-2</a> </li>
    <li><a href="" >workshop technology</a> </li>
    <li><a href="" >pps</a> </li>
 <hr>   



</ul>



















</body>
</html>