<html>
<head><title>project
</title>

<link href="registration form.css" type="text/css" rel="stylesheet">
</head>
<body>
<form>
    <div>
<h1> Registering form</h1>
<p>fill the form to create an account</p>
<hr id="three">
<p><b>First Name:</b></p>
<input type="text" name="firstname" required placeholder="First name" maxlength="15" />
<p><b>Last Name:</b></p>
<input type="text" name="lastname" placeholder="Last name" maxlength="10" />
<p><b>Email:</b></p>
<input type="email" name="email" required placeholder="Email" />
<p><b>Password:</b></p>
<input type="password" name="password" required placeholder="Password" minlength="8" maxlength="25" />
<p><b>Confirm Password:</b></p>
<input type="password" required" placeholder="Re-enter Password" minlength="8" maxlength="25" />
<hr id="two">
<p><input type="checkbox" name="policy" value="terms & conditions"  required /> you must aggree the<a href="termsandcondition.html" target="new" > terms & conditions</a> </p>
<a href="thankyou.html" ><button class="button" >register</button></a>
</form>
</div><br>
<p id="one">Already have an account? <a href="loginpage.html" ><b>click here to login</b></a></p>
</body>
</html>