
body{ margin: 0;} 
.nav{   overflow:hidden;   background-color: #333;  }
.nav a{
   display:block;
   float:right;
   padding:20px;
   font-size:30px;
   color:rgb(148, 127, 127);
   text-decoration: none;
}
.nav a:hover{
   background-color:white;
   color:black;
}
button{ height:250px; width: 200px;
        margin:20px;  font-size:30px;  background-color:rgb(167, 87, 87);
     }
button:hover{
   background-color:rgb(135, 190, 121);
   color:white;}
 a{
   text-decoration: none;
   text-color:rgb(85, 78, 78);
}
a:hover{
    color:white;
}  