
    body{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-image:url("13.jpg");        
    }
div{
border:2px solid ;
margin-left:350px;
margin-top:50px;
text-align:center;
width:550px;
background-color:transparent;
}
#one{
  text-align: center;
    }
.button{
   Background-color:rgb(0, 119, 255);
   padding:10px 50px;
   margin-bottom:10px  ;
   color:white;
   cursor:pointer;
   opacity:0.8;
}
.button:hover{
    opacity:1;
}
input{
    background:#dbd6d6;
    border:none;
 padding:10px;
 opacity:0.7;
}
input:hover{
    opacity:1;
}
#two,#three{
    margin:20px;
    color:blue;
}
a{
    color:rgb(98, 0, 255);
    opacity:0.7;
}
a:hover{
    opacity:1;
}
h1{
    color:rgb(98, 0, 255);
}